.mainBox {
    background-color: #f2f2f2;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    border: 1px solid #ed1c24;
    box-shadow: 1px 1px 2px black;
    padding: 30px;
    margin: auto;
    position: fixed;
    top: 2%;
    left: 1%;
    bottom: 2%;
    right: 1%;
    overflow: auto;
}

.box {
    background-color: #f2f2f2;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    border: 1px solid #ed1c24;
    box-shadow: 1px 1px 2px black;
    padding: 30px;
    margin: auto;
}

.formBox {
    text-anchor: middle;
    text-align: left;
    margin-left: 30%;
    margin-right: 30%;
}

input[type="number"] {
    width: 3em;
}

.button {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    border: 1px solid #ed1c24;
    box-shadow: 1px 1px 2px black;
    padding: 10px;
    margin: auto;
    width: 15%;
    background-color: #f44336;
    color: white;
}

.visited {
    background-color: green;
}

button:hover {
    background-color: gray;
}

button:active {
    background-color: red;
    transform: translateY(1px);
}

.generalparameters {
    border: 1px solid gray;
}

.outcome {
    user-select: all;
}

.pre-formatted {
    white-space: pre;
    text-align: center;
}